@media screen and (min-width: 375px) {
  .slider {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .slider-img {
    width: 370px;
    height: 250px;
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .close-icon {
    position: absolute;
    top: -12%;
    right: 0%;
    color: rgb(46, 45, 45);
    border-radius: 50%;
    z-index: 10;
    font-size: 2rem;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
}
@media screen and (min-width: 560px) {
  .slider-img {
    width: 450px;
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .slider {
    top: 8em;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-img {
    width: 740px;
    height: 500px;
    border-radius: 10px;
  }
  .right-arrow {
    right: 15px;
    font-size: 3rem;
  }
  .left-arrow {
    left: 15px;
    font-size: 3rem;
  }
  .close-icon {
    position: absolute;
    top: -36%;
    right: -1.4%;
    width: 2em;
    height: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .slider {
    top: 7em;
    left: 15em;
  }

  .slider-img {
    width: 550px;
    height: 400px;
    border-radius: 10px;
  }

  .close-icon {
    top: -25%;
    right: -1.4%;
    width: 2em;
    height: 2em;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    top: 11em;
    left: 20em;
  }

  .slider-img {
    width: 800px;
    height: 600px;
    border-radius: 10px;
  }
  .close-icon {
    top: -76%;
    right: -2%;
  }
}
