* {
  margin: 0;
  box-sizing: border-box;
}

/* ------------ Navbar and burger menu ---------- */
@media screen and (min-width: 375px) {
  .burger-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15em;
  }

  nav {
    position: absolute;
    top: 2.9%;
    left: 32%;
    z-index: 3;
  }

  .burger-menu {
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .burger-title {
    width: auto;
    height: 2em;
    background-color: var(--bg-nav-color);
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 1.8em;
  }
  .burger-title:hover {
    background-color: var(--bg-lightgray);
    color: var(--bg-darkblue);
  }
  
  .menu {
    width: 100%;
    margin-top: -12em;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    right: 0.3%;
    width: 100%;
    background: transparent;
    
  }
  .menu-list li {
    background-color: rgba(89, 36, 180, 0.668);
    margin: 10px;
    border-radius: 10px;
  }
  .menu-list li:hover {
    background-color: rgba(118, 36, 180, 0.668);
  }
  
  

  /* ------------- sliding menu ------- */
  .hidden2 {
    display: none;
  }
  .visible {
    display: inherit;
  }
  /* -------------- animation --------------- */
  /* ---- clicked------ */
  .burger-title.clicked {
    background-color: var(--bg-darkblue);
  }
  .burger-title.clicked:hover {
    background-color: var(--bg-lightgray);
    color: var(--bg-darkblue);
  }
  
}
@media screen and (min-width: 768px) {
  .hidden2 {
    display: block;
  }
  .burger-menu {
    visibility: hidden;
  }
  .burger-title {
    visibility: visible;
    position: absolute;
    margin-top: -10%;
    width: 14em;
    border: none;
    font-size: 1.6em;
    z-index: 3;
    cursor: default;

  }
  
  .burger-title:hover {
    background-color: var(--bg-nav-color);
    color: inherit;
  }
  nav {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 4;
  }
  
  .menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 50px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
    top: -130%;
  }
}

@media screen and (min-width: 1024px) {
  
  .burger-title {
visibility: hidden;
  }
  
  .menu-list {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    z-index: 6;
 
  }
  .menu-list li {
    margin: -25px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list li {
    margin-left: 5px;
  }
}
