@media screen and (min-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        overflow-y: hidden; 
          
}

.home_page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.bg_img-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.bg-main_img {
   display: block;
   width: 100%;
   position: absolute;
   bottom: 0;
   position: center;
   object-fit: cover;
   z-index: -2;
  
  
}
.footer-color {
    color: var(--bg-color3);
}

}
/* ---------------@media screen and (min-width: 768px)---- */

@media screen and (min-width: 768px) {
     
}

@media screen and (min-width: 1024px) {
    
    .bg-main_img {
        width: 100%;
        height: 85vh;
        max-height: 840px;
       
        
     }
   
}

