@media screen and (min-width: 375px) {
  .footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    z-index: 12;
    left: 50%;
    transform: translateX(-50%);
  }
 
  .copyright {
    width: 350px;
    background: var(--bg-lightgray);
    
    font-size: 1em;
   
  
    
  }
}
@media screen and (min-width: 768px) {
  .footer {
bottom: 1%;

  }
}
@media screen and (min-width: 1024px) {
  .footer {
bottom: 2%;
  }
}
