@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

:root {
  --bg-color: #506470;
  --bg-nav-color: rgba(67, 67, 89, 0.892);
  --bg-color3: rgb(62, 62, 68);
  --bg-color-main-title: #69808ff5;
  --bg-color-menu-active: #242222;
  --bg-darkblue: rgb(28, 28, 79);
  --bg-bluegray: rgba(40, 40, 94, 0.645);
  --bg-lightgray: rgba(255, 255, 255, 0.681);
  --bg-links-hover: #546f8b;
  --color-white: #fff;
  --color-primary: rgb(4, 4, 222);


  --transition: all 0.5s ease;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--color-white);
  z-index: -2;
}
a {
  color: var(--color-white);
  transition: var(--transition);
}
a:hover {
  color: var(--color-light);
  border-radius: 10px;
}

